body
{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}


header
{

    position: sticky;
    top: 0px;
    right: 0px;
    left: 0px;
}

header
{
    background-color: rgb(105, 111, 165);    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

header img
{
    width: 150px;
}

li
{
    font-weight: bold;
    border: 2px solid rgba(233,79,117,255);
    display: inline-block;  
    margin: 20px;
    border-radius: 6px;
}



li > a 
{
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
}

a{
    color: rgba(244,135,92,255);
}

main 
{
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


article > div{
    font-size: 2em;
    padding: 10px 20px 30px 40px;
    border-color: blue;
    border-style: dotted;
    border-radius: 40px;
    background-color: rgb(105, 111, 165);
}

div > p{
    font-size: 1em;
    font-style: oblique;
    
}
